* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* HEADER AND NAV BAR */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    list-style: none;
}

.nav-links a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: .3rem;
    padding: 5px;
}

.nav-links a:hover {
    border-bottom: 2px solid white;
}

#emph {
    padding: 10px;
    border: 3px solid white;
}

#emph:hover {
    color: grey;
    background-color: white;
}

.burger div {
    width: 25px;
    height: 2.5px;
    background-color: white;
    margin: 5px;
}

.burger {
    display: none;
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

/* FOOTER */

footer {
    background-color: lightgray;
    padding: 1.5rem;
}

footer p {
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    float: right;
}

footer p a {
    color: gray;
}

@media only screen and (max-width: 865px) {
    footer p span {
        display: none;
    }
}

/* -----
SVG Icons
----- */

.svg-icon {
    width: 2em;
    height: 2em;
}
  
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: grey;
}

.svg-icon path:hover,
.svg-icon polygon:hover,
.svg-icon rect:hover {
  fill: blue;
  cursor: pointer;
}
  
.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/* BELOW THIS LINE, STYLE RULES WILL CHANGE BASED ON PAGE */
/* PAGE STYLES BELOW */

main {
    padding: 13%;
}

main section {
    font-family: 'Courier New', Courier, monospace;
    width: 55%;
}

main section h1 {
    font-size: 4.25rem;
}

main section a {
    text-decoration: none;
    border: 3px solid grey;
    color: grey;
    font-weight: bold;
    padding: 10px;
}

main section a:hover {
    background-color: grey;
    color: white;
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
    main section h1 {
        font-size: 3.25rem;
    }
    
    main section {
        width: 85%;
        align-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 425px) {
    main section h1 {
        font-size: 1.75rem;
    }
    
    main section {
        width: 100%;
    }

    footer p {
        display: none;
    }
}